/* Separator Styling */

.wp-block-separator{
    border-top: 1px solid var(--color-primary);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.page-content{
    @for $i from 1 through 6{
        h#{$i} + hr{
            margin-top: calc(calc(var(--space-margin-heading-body) * -1.4) + var(--space-a));
            position: relative;
            left: calc(var(--space-gutter) * -1);
            width: calc(100% + var(--space-gutter));
        }
    }
}


.page-sidebar{
    @for $i from 1 through 6{
        h#{$i} + hr{
            margin-top: calc(calc(var(--space-margin-heading-body) * -1) + var(--space-a));
            position: relative;
            width: calc(100% + var(--space-gutter));
        }
    } 
}

@media (max-width: 768px){
    .page-content{
        @for $i from 1 through 6{
            h#{$i} + hr{
                left: calc(var(--space-gutter) * -1);
                width: calc(100% + var(--space-gutter)* 1);
            }
        }
    }

    .page-sidebar{
        @for $i from 1 through 6{
            h#{$i} + hr{
                width: calc(100% + var(--space-gutter)* 1);
                left: calc(var(--space-gutter) * -1);
            }
        }
    }
}